@use '../abstracts' as *;

.image_blur {
  @include background;
  border: $border;
  border-radius: 1.2rem;

  @include tablet {
    border-radius: 2rem;
  }
}

.image_regular {
  height: 24rem;
  border-radius: 1rem;
}

.avatar {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 100%;
  outline-offset: 3px;
  outline: $border_bright;
  @include background;
}

.avatar_small {
  width: 3.5rem;
  height: 3.5rem;
}

.image_size-1 {
  width: 63%;
  height: auto;
  //max-width: 40.8rem;

  @include tablet {
    width: 40%;
  }
}

.image_size-2 {
  width: 100%;
  height: auto;
  //max-width: 65rem;

  @include tablet {
    width: 65%;
  }
}

.image_size-3 {
  width: 45%;
  height: auto;
  //max-width: 29.5rem;

  @include tablet {
    width: 30%;
  }
}

.image_size-4 {
  width: 100%;
  height: auto;
  //max-width: 54rem;

  @include tablet {
    width: 54%;
  }
}

.image_size-5 {
  width: 40%;
  height: auto;
  //max-width: 26rem;

  @include tablet {
    width: 26%;
  }
}

.image_size-6 {
  //width: 100%;
  width: calc(100% - 4.8rem);
  height: auto;
  //max-width: 36rem;

  @include tablet {
    width: 36%;
  }
}

.image_size-7 {
  width: 27rem;
  height: auto;
  //max-width: 27rem;

  /*@include tablet {
        width: 27%;
    }/*/
}
