$white: #ffffff;
$black: #040509;
$gradient: linear-gradient(
  110.45deg,
  #feece3 0%,
  #fcd5bf 25%,
  #feafae 50%,
  #ffa4bd 75%,
  #ffa9cc 100%
);
$gradient-back: linear-gradient(
  160deg,
  #feece3 0%,
  #fcd5bf 25%,
  #feafae 50%,
  #ffa4bd 75%,
  #ffa9cc 100%
);
